/* #newGiftCard {
    background-color: var(--blue);
    width: 15%;
    margin: 10px;
    display: flex;
} */

/* body {
    background-color: transparent;
} */

#cardMapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; 
    flex-direction: row;
    margin: 10px;
    /* width: 350px; */
    /* border: 1px solid var(--green); */
}

#cardBody {
    padding: 10px;
    background: var(--red);
    color: var(--white);
    width: 225px;
    border-radius: 15px;
    max-height: 350px;
    border: 3px dashed var(--white);
    
}

#eachCard {
    margin: 5px;
    /* border: 3px dashed var(--white); */
    border-radius: 15px;
    /* top: -12px; */
    max-height: 350px;
    

}

#editButton {
    background-color: var(--navy);
    margin: 5px;
    border: 3px dashed var(--white);
    border-radius: 15px;
}

#firstDelete {
    background-color: var(--navy);
    border: 3px dashed var(--white);
    border-radius: 15px;
}

#keepButton {
    background-color: var(--navy);
    border: 3px dashed var(--white);
    font: var(--white);
    border-radius: 15px;
}

#yesDelete {
    background-color: var(--red);
    border: 3px dashed var(--white);
    color: var(--white);
    border-radius: 15px;
}

/* #modalRadius {
    background-color: var(--red);
    border-radius: 15px 15px 0 0;
    border: 1px solid var(--red);
} */

#modalDelete {
    border: 3px dashed white;
    border-radius: 15px;
}

#deleteModal {
    background-color: var(--red);
    color: var(--white);
    border-radius: 15px 15px 0 0;
    
}

#deleteBody {
    background-color: var(--red);
    color: var(--white);
    /* border-radius: 15px 15px 0 0; */
}

#deleteFooter {
    background-color: var(--red);
    color: var(--white);
    border-radius: 0 0 15px 15px;
}

