/* .sidebar {
    width: 15%;
    /* border: 1px solid white; */
    /* display: flex;
    background-color: var(--green);
    font-family: var(--font-three);
    height: 100vh;
    margin-top: -160px; */
 

/* h1 {
    font-family: var(--font-three);
    color: var(--white);
    font: 12px;
} */

/* .sidebar-list {
    margin-top: 190px;
    height: 100vh;
} */

/* .sidebar-list-styling {
    height: 
} */