:root {
    /*The below fonts are from Google Fonts*/
    --font-one: 'Englebert', sans-serif; /*For all text except headlines*/
    --font-two: 'Mountains of Christmas', cursive; /*headlines only*/
    --font-three: 'Special Elite', cursive;
    /*Color Variables*/
    --red: #d8403f; /*Jasper*/
    --green: #4cb944; /*May Green*/
    --blue: #246EB9; /*Denim*/
    --white: #FDFFFC; /*Baby Powder*/
    --yellow: #F5EE9E; /*Flavescent*/
    --navy: #000524;
}

/*
font-family: 'Englebert', sans-serif;
font-family: 'Mountains of Christmas', cursive;
*/